@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600&display=swap'); */
@import "tailwindcss";

html {
    font-family: 'DM Sans', sans-serif;
    scroll-behavior: smooth;
}